@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.header {
    background-color: #1F2937;
    padding: 5px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-section {
    padding: 100px 200px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    gap: 50px; 
    margin: auto;  
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

button {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 6px 30px;
    margin-top: 10px;
}

.title-img {
    flex-shrink: 0;
    height: 200px;
    width: 500px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-title {
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding: 30px 100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.item {
    width: 200px;
}

.ilustration {
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.item .subtext {
    color: gray;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 400px;
}

.author {
    align-self: flex-end;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
}

.call-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #3882F6;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    margin: 100px 220px;
    padding: 50px 120px;
}

.call-section .subtext {
    font-size: 18px;
    font-weight: 200;
}

.call-section button {
    border: 3px solid #F9FAF8;
    flex-shrink: 0;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}